html, body, h1{
    margin:0;
    padding:0;

}

.line {
    border-bottom: 2px solid black;
    margin-top: 5px;
    width: 100%;
    float: center;
}
nav{
    

    background:white;
  height:150px;
  z-index:999;
  margin:0 auto;
  border-bottom:3px solid black;
  width:100%;
  position:fixed;
  padding-top:0;
  left:0;
  right:0;
  text-align:center;

}

.nav-con ul{
    list-style:none;

}

.nav-con li{
    float:left;
    height:26px;
    color:green;
    border-radius:5px;
    padding-left:20px;
    padding-right:20px;
    margin-right:10px;
    margin-left:10px;
    padding-top:8px;

}

.nav-con li:hover{
    background-color:black;
    height:10px;
    color:whites;
    cursor:pointer;

}

.nav-con a{
    
    float: center;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        padding-top:30px;
    
        
    
    }
    
    .top{
        position: top;
        width:100%;
            height:80px;
            padding-left:3%;
            padding-right:3%;
        background-color: grey;
        
        }
          
          
        .logo{
            width:200px;
            float:left;
            height:50px;
            
        
        }
        .logo-con{
            width:100%;
            text-align:center;
            margin-top:15px;
            
            
        }
        
        .logo-con img{
            width:80%;
            
        }

        .logo-image{
            width:200px;;
            height:40px;
           
            background-position:center;
            background-size:cover;
            text-align:center;
            padding-top:5px;
            margin-top:5px;
            float:left;
            
            
           
        }

.d-flex{
    width:30%;
    float:right;
    padding-top:px;
}

.container text-center{
    grid-column:12px;
    border-block-width: 1.5px;
    grid-auto-columns: 6px;

}

.social-media{
    width:100%;
    height:35px;
    margin-top:15px;
    float:right;
    

}

.social1{
    width:35px;
    height:35px;
    float:right;
    margin:5px;
    text-align:center;
    padding-top:5px;
    font-weight:bold;
    color:white;
    border-radius:50%;
    padding-left:5px;
    padding-bottom:1px;
    float:center;
    background-image: url("../assets/facebook.png");
    background-position:center;
    background-size:cover;

}

.social2{
    width:35px;
    height:35px;
    float:right;
    margin:5px;
    text-align:center;
    padding-top:5px;
    font-weight:bold;
    color:white;
    border-radius:50%;
    padding-left:5px;
    padding-bottom:1px;
    float:center;
    background-image: url("../assets/insta.png");
    background-position:center;
    background-size:cover;
}

.social3{
    width:35px;
    height:35px;
    float:right;
    margin:5px;
    text-align:center;
    padding-top:5px;
    font-weight:bold;
    color:white;
    border-radius:50%;
    padding-left:5px;
    padding-bottom:1px;
    float:center;
    background-image: url("../assets/twitter.jpg");
    background-position:center;
    background-size:cover;

}

.social4{
    width:35px;
    height:35px;
    float:right;
    margin:5px;
    text-align:center;
    padding-top:5px;
    font-weight:bold;
    color:white;
    border-radius:50%;
    padding-left:5px;
    padding-bottom:1px;
    float:center;
    background-image: url("../assets/youtube.jpg");
    background-position:center;
    background-size:cover;

}


.social:hover{
    background-color:white;
color:white;
cursor:pointer;
}

.logo-btm{
    width:200px;
    float:left;
    height:65px;
    margin-top:15px;
    background-image: url("../assets/supersub.jpg");
    background-position:center;
    background-size:cover;
    
    

}
.logo-con-btm{
    width:100%;
    text-align:center;
    margin-top:1px;
}

.logo-con-btm img{
    width:80%;
    
}

.copyright{
    width:200px;
    float:left;

}
.copyright-con{
    width:100%;
    text-align:center;
    margin-top:25px;
}

.copyright-con img{
    width:20%;
    
}

footer{
    width:100%;
    height:80px;
    background-color:white;
    color:black ;
    text-align:center;
    position:sticky;
    border-top: 2px solid black;
}
header{
    width:100%;
    height:350px;
    padding-right:10%;
    padding-left:10%;
    font-family: 'Lato', sans-serif;
}

header h2{
    font-size:35px;
    padding-top:180px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    color:black;
}

header h6{
    font-family: 'Lato', sans-serif;
    font-weight:300;
    color:black;
    float:right;
    padding-top:1px;
}












form{
    width: 50%;
    margin:  0 auto;
    margin-top: 50px;
}


.left{
    width: 60%;
    float: left;
    height: 130px;
}

.button-con{
    width: 100%;
    float: left;
}

.right{
    height: 130px;
    width: 40%;
    float: left;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
   
}

.orderCost{
    background-color: #f7f7f7;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.card{
    width: 29%;
    height: auto;
    border-radius: 5px;
    margin-top: 15px;
    float: left;
    margin: 2%;
}

input{
    margin-top: 15px;
}

select{
    margin-top: 15px;
}

.btn{
    margin-top: 15px;
}

.base-options{
    width: 33%;
    height: 100px;
    margin-top: 20px;
    padding-left: 20px;
    float: left;
}

.base-options h3{
   margin-left:  -20px;
   margin-bottom: 20px;
}

.toppings{
    width: 66%;
    margin-top: 20px;
    float: left;
    padding-left: 20px;
}

.toppings h3{
    margin-left:  -20px;
    margin-bottom: 20px;
}

.top-check{
    width: 33%;
    float: left;
}


.output{
    width: 50%;
    height: 45px;
    margin:  0 auto;
    margin-top: 50px;
    border-bottom: 2px solid #2b2b2b;
}

.outHeader h3{
    float: left;
}

.totalOrder{
    float: left;
    margin-left: 48%;
}

.totalOrder h3{
    font-size: 40px;
    margin-top: -10px;
}

.checkLeft{
    width: 70%;
    height: 100vh;
    float: left;
    padding-left: 0%;
}

.checkLeft h1{
    margin-top: 50px;
    color:white;
}

.checkLeft h3{
    margin: 0;
    padding: 0;
}

.checkRight {
    width: 30%;
    height: 100vh;
    float: left;
    background-color: lightgray;
    padding-top: 10%;
    text-align: center;
}

.checkRight input {
    width: 50%;
    margin:  0 auto;
}

.checkRight h2{
   font-size: 50px;
   font-weight: 100;
}

.checkRight h3{
    margin-top: 50px;
    font-weight: 100;
 }

 .orderLine{
    width: 90%;
    height: 50px;
    background-color:#f7f7f7;
    border-radius: 5px;
    margin-top: 20px;
 }

 .orderLine p{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    padding-top: 13px ;
 }